* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container>.box {
  width: 15.625rem;
  height: 18.75rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container>.box>.title {
  width: 100%;
  position: relative;
  height: 3.125rem;
}

.container>.box>.title>.block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(.74, .01, .4, .92) forwards;
}

.container>.box>.title>h1 {
  font-family: 'Mochiy Pop One', sans-serif;
  color: white;
  font-size: 1.5625rem;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.3s;
  opacity: 0;
}

.container>.box>.role {
  width: 100%;
  position: relative;
  height: 1.875rem;
  margin-top: -0.625rem;
  display: flex;
  align-items: center;
}

.container>.box>.role>.block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  position: absolute;
}

.container>.box>.role>p {
  -webkit-animation: secFadeIn 2s forwards;
  -o-animation: secFadeIn 2s forwards;
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  font-family: 'Mochiy Pop One', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: .3125rem;
  font-size: .75rem;
  opacity: 0;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
